/* ---------- Contenedor Principal ---------- */
.root-pane {
    -fx-background-color: #FFFFFF;
    -fx-font-family: "Segoe UI", "Arial", sans-serif;
}

/* ---------- Títulos ---------- */
.title-label {
    -fx-font-size: 120px;
    -fx-font-weight: bold;
    -fx-text-fill: #1A1A1A;
}

.welcome-label {
    -fx-font-size: 60px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-alignment: center;
}

/* ---------- Textos Simples ---------- */
.label {
    -fx-font-size: 14px;
    -fx-text-fill: #1A1A1A;
}

.error-label {
    -fx-text-fill: #A32B2B;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

/* ---------- Campos de Texto ---------- */
.text-field,
.password-field {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #BFBFBF;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-padding: 5;
    -fx-font-size: 14px;
    -fx-text-fill: #1A1A1A;
}

.text-field:focused,
.password-field:focused {
    -fx-border-color: #6C3FA3;
    -fx-effect: dropshadow(three-pass-box, rgba(76, 63, 163, 0.25), 6, 0, 0, 0);
}

/* ---------- Botones ---------- */
.button-primary {
    -fx-background-color: #3C8C59;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-background-radius: 5;
    -fx-cursor: hand;
    -fx-border-color: transparent;
}

.button-primary:hover {
    -fx-background-color: #3C8A23;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

.button-primary:pressed {
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
}

.button-secondary {
    -fx-background-color: #BFBFBF;
    -fx-text-fill: #1A1A1A;
    -fx-font-size: 16px;
    -fx-background-radius: 5;
    -fx-cursor: hand;
}

.button-secondary:hover {
    -fx-background-color: #6C3FA3;
    -fx-text-fill: #FFFFFF;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;

}

.button-secondary:pressed {
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
}

.button-delete {
    -fx-background-color: #A32B2B;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 16px;
    -fx-background-radius: 5;
    -fx-cursor: hand;
    -fx-border-color: transparent;

}

.button-delete:hover {

    -fx-background-color: #8B2424;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;

}

.button-delete:pressed {
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
}

/* ---------- Links ---------- */
.link {
    -fx-font-size: 13px;
    -fx-text-fill: #4B2A78;
}

.link:hover {
    -fx-text-fill: #6C3FA3;
    -fx-underline: true;
}

/* ---------- Tooltips ---------- */
.tooltip {
    -fx-background-color: #4B2A78;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 12px;
    -fx-background-radius: 5;
    -fx-padding: 6;
}

/* ---------- Logos (Imágenes) ---------- */
.image-view {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 10, 0, 0, 2);
}

/* ---------- Separadores ---------- */
.separator {
    -fx-background-color: #BFBFBF;
    -fx-pref-height: 1;
}

/* ---------- Columnas ---------- */
.table-view {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-border-color: #A8A8A8;
}

.table-view .column-header {
    -fx-background-color: #3C8A23;
    -fx-border-color: #2F6E1C;
}

.table-view .column-header .label {
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: bold;
    -fx-alignment: center;
}


/* Color cuando pasas el ratón por encima (Hover) */
.table-row-cell:hover {
    -fx-background-color: #E2F0D9;
}
.table-row-cell:selected .table-cell{
    -fx-background-color: #3C8A23;
    -fx-text-fill: white;
}

/*---------- Alerts -----------*/
.alert-dialog {
    -fx-background-color: #F8F8F8;
    -fx-border-color: #A32B2B;
    -fx-border-width: 2;
}

.combo-box {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #BFBFBF;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-padding: 2; 
    -fx-font-size: 14px;
    -fx-text-fill: #1A1A1A;
}
.combo-box:hover,
.combo-box:focused {
    -fx-border-color: #6C3FA3;
    -fx-background-color: #F3E5F5;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(108, 63, 163, 0.2), 6, 0, 0, 0);
}

.combo-box .list-cell:hover{
    -fx-background-color: #6C3FA3;
    -fx-text-fill: #FFFFFF;
}